* {
	box-sizing: border-box;
}

body {
	background-image:url("img/poke2.jpg") 
	no-repeat center top;
	margin: 0;
	font-family: sans-serif;
	background:;
}
.fondo{
	background-image: url("img/poke2.jpg");
}

h1 {
	color: #101010;
	text-align: center;	
}

.form-register {
	width: 98%;
	max-width: 500px;
	margin: auto;
	background: white;
	border-radius: 7px;
}

.form__titulo {
	background: deepskyblue;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
}

.contenedor-inputs {
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
}

input {
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.input-48 {
	width: 48%;
}

.input-100{
	width: 100%;
}

.btn-enviar {
	background: crimson;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
}

.btn-enviar:active {
	transform: scale(1.05);
}

.form__link {
	width: 180%;
	margin: 7px;
	font-size: 14px;
}



















